/* General layout */

body {
  background-color: white;
  margin: 0;
  height: 100%;
}

/* Connect Four board */

.board {
  background-color: rgb(152, 221, 202);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
}

.cell {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: manipulation;
}

.content {
  flex: 0 0 20px;
}

.empty {
  background-color: white;
}
